<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>preset</key>
		<string>CircBell</string>
		<key>name</key>
		<string>Tone Bells</string>
	</dict>
	<dict>
		<key>preset</key>
		<string>Xylo</string>
		<key>name</key>
		<string>Xylophone</string>
	</dict>
</array>
</plist>
