<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<dict>
			<key>en</key>
			<string>Tone Bells</string>
			<key>it</key>
			<string>Campanelle</string>
			<key>es</key>
			<string>Campanas</string>
		</dict>
		<key>preset</key>
		<string>CircBell</string>
		<key>iap</key>
		<false/>
	</dict>
	<dict>
		<key>name</key>
		<dict>
			<key>en</key>
			<string>Xylophone</string>
			<key>it</key>
			<string>Xilofono</string>
			<key>es</key>
			<string>Xilófono</string>
		</dict>
		<key>preset</key>
		<string>Xylo</string>
		<key>iap</key>
		<false/>
	</dict>
	<dict>
		<key>name</key>
		<dict>
			<key>en</key>
			<string>Vibraphone</string>
			<key>it</key>
			<string>Vibrafono</string>
			<key>es</key>
			<string>Vibráfono</string>
		</dict>
		<key>preset</key>
		<string>Vibraphone</string>
		<key>iap</key>
		<false/>
	</dict>
</array>
</plist>
