<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>id</key>
		<string>major</string>
		<key>name</key>
		<dict>
			<key>it</key>
			<string>Maggiore</string>
			<key>en</key>
			<string>Major</string>
		</dict>
		<key>notes</key>
		<array>
			<integer>0</integer>
			<integer>2</integer>
			<integer>4</integer>
			<integer>5</integer>
			<integer>7</integer>
			<integer>9</integer>
			<integer>11</integer>
			<integer>12</integer>
			<integer>14</integer>
			<integer>16</integer>
			<integer>17</integer>
			<integer>19</integer>
			<integer>21</integer>
			<integer>23</integer>
			<integer>24</integer>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<string>dorian</string>
		<key>name</key>
		<dict>
			<key>it</key>
			<string>Dorica</string>
			<key>en</key>
			<string>Dorian</string>
		</dict>
		<key>notes</key>
		<array>
			<integer>0</integer>
			<integer>2</integer>
			<integer>3</integer>
			<integer>5</integer>
			<integer>7</integer>
			<integer>9</integer>
			<integer>10</integer>
			<integer>12</integer>
			<integer>14</integer>
			<integer>15</integer>
			<integer>17</integer>
			<integer>19</integer>
			<integer>21</integer>
			<integer>22</integer>
			<integer>24</integer>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<string>phrygian</string>
		<key>name</key>
		<dict>
			<key>it</key>
			<string>Frigia</string>
			<key>en</key>
			<string>Phrygian</string>
		</dict>
		<key>notes</key>
		<array>
			<integer>0</integer>
			<integer>1</integer>
			<integer>3</integer>
			<integer>5</integer>
			<integer>7</integer>
			<integer>8</integer>
			<integer>10</integer>
			<integer>12</integer>
			<integer>13</integer>
			<integer>15</integer>
			<integer>17</integer>
			<integer>19</integer>
			<integer>20</integer>
			<integer>22</integer>
			<integer>24</integer>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<string>lydian</string>
		<key>name</key>
		<dict>
			<key>it</key>
			<string>Lidia</string>
			<key>en</key>
			<string>Lydian</string>
		</dict>
		<key>notes</key>
		<array>
			<integer>0</integer>
			<integer>2</integer>
			<integer>4</integer>
			<integer>6</integer>
			<integer>7</integer>
			<integer>9</integer>
			<integer>11</integer>
			<integer>12</integer>
			<integer>14</integer>
			<integer>16</integer>
			<integer>18</integer>
			<integer>19</integer>
			<integer>21</integer>
			<integer>23</integer>
			<integer>24</integer>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<string>mixolydian</string>
		<key>name</key>
		<dict>
			<key>it</key>
			<string>Misolidia</string>
			<key>en</key>
			<string>Mixolydian</string>
		</dict>
		<key>notes</key>
		<array>
			<integer>0</integer>
			<integer>2</integer>
			<integer>4</integer>
			<integer>5</integer>
			<integer>7</integer>
			<integer>9</integer>
			<integer>10</integer>
			<integer>12</integer>
			<integer>14</integer>
			<integer>15</integer>
			<integer>17</integer>
			<integer>19</integer>
			<integer>20</integer>
			<integer>22</integer>
			<integer>24</integer>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<string>minor</string>
		<key>name</key>
		<dict>
			<key>it</key>
			<string>Minore</string>
			<key>en</key>
			<string>Minor</string>
		</dict>
		<key>notes</key>
		<array>
			<integer>0</integer>
			<integer>2</integer>
			<integer>3</integer>
			<integer>5</integer>
			<integer>7</integer>
			<integer>8</integer>
			<integer>10</integer>
			<integer>12</integer>
			<integer>14</integer>
			<integer>15</integer>
			<integer>17</integer>
			<integer>19</integer>
			<integer>20</integer>
			<integer>22</integer>
			<integer>24</integer>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<string>locrian</string>
		<key>name</key>
		<dict>
			<key>it</key>
			<string>Locria</string>
			<key>en</key>
			<string>Locrian</string>
		</dict>
		<key>notes</key>
		<array>
			<integer>0</integer>
			<integer>1</integer>
			<integer>3</integer>
			<integer>5</integer>
			<integer>6</integer>
			<integer>8</integer>
			<integer>10</integer>
			<integer>12</integer>
			<integer>13</integer>
			<integer>15</integer>
			<integer>17</integer>
			<integer>18</integer>
			<integer>20</integer>
			<integer>22</integer>
			<integer>24</integer>
		</array>
	</dict>
</array>
</plist>
